<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API GXTCH</title>
</head>
<body>
    <body>
        <!-- Embora nao seja uma boa pratica, foi o jeito mais funcional do projeto ficar no ar
        (css inline) -->
    
        <style>
            body{
        font-family: Arial, Helvetica, sans-serif;
        background-image: linear-gradient(45deg, #7300ff, #51E8F4);
        }
        </style>
</body>

<h1>Cursos</h1>

<!-- CONSULTAR TODOS OS CURSOS (QUINTA ROTA) -->
<h2>Consultar todos os cursos</h2>
<button onclick="getCursos()">Consultar</button>
<p id="cursos"></p>

<!-- CONSULTAR CURSO POR ID (SEXTA ROTA)-->
<h2>Consultar curso por ID</h2>
<label for="cursoId">ID do Curso:</label>
<input type="number" id="cursoId">
<button onclick="getCurso()">Consultar</button>
<p id="curso"></p>

<!-- CADASTRAR UM NOVO CURSO (SETIMA ROTA) -->
<h2>Cadastrar novo curso</h2>
<label for="nomeCurso">Nome:</label>
<input type="text" id="nomeCurso">
<br>
<label for="codigoCurso">Código:</label>
<input type="text" id="codigoCurso">
<button onclick="addCurso()">Cadastrar</button>
<p id="cadastro"></p>

<!-- ATUALIZAR UM CURSO POR ID (oitava ROTA) -->
<h2>Atualizar aluno por ID</h2>
<label for="cursoIdUpdate">ID do curso:</label>
<input type="number" id="curspIdUpdate">
<br>
<label for="nome_cursoUpdate">Nome:</label>
<input type="text" id="nome_cursoUpdate">
<br>
<button onclick="updateCurso()">Atualizar</button>

<!-- EXCLUIR CURSO POR ID (NONA ROTA) -->
<h2>Excluir curso por ID</h2>
<label for="cursoIdDelete">ID do curso:</label>
<input type="number" id="cursoIdDelete">
<button onclick="deleteAluno()">Excluir</button>
</html>

