
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>❮API -- TCHELOGX❯</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <fieldset>
    <div class="teste">
        <form method="POST">
            <input type="text" name="nome" placeholder="Nome"/>
            <br><br>  
            <br><br>
            <legend>Estado de presença</legend>
            <br><br>
            <input type="checkbox" id="scales" name="scales" checked>
            <label for="scales">Presente</label>
            <input type="checkbox" id="horns" name="horns">
            <label for="horns">Falta</label>
            <br><br>
            <button type="submit">Enviar</button>
        </form>
    </div>
</fieldset> 
</body>
</html>